version: '2.1'

services:
  db:
    image: mysql:5.6
    environment:
      MYSQL_ROOT_PASSWORD: bomberos
      MYSQL_DATABASE: PatrimonioInmobiliario
    healthcheck:
      test: mysql -h localhost -u root -pbomberos -Bse "show databases;"
      interval: 5s
    ports:
      - 3306:3306
    restart: unless-stopped

  web:
    build: .
    image: aplicacion1
    command: python manage.py runserver 0.0.0.0:8080
    volumes:
      - .:/code
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
      NAME: PatrimonioInmobiliario
      USER: root
      PASSWORD: bomberos
      HOST: db
    restart: unless-stopped

  migrate:
    image: aplicacion1
    command: python  manage.py migrate
    volumes:
      - .:/code
    depends_on:
      db:
        condition: service_healthy
    environment:
      NAME: PatrimonioInmobiliario
      USER: root
      PASSWORD: bomberos
      HOST: db
    restart: unless-stopped