bootstrap4==0.1.0
Django==2.2
django-autofixture==0.12.1
django-bootstrap==0.2.4
django-bootstrap4==0.0.8
get==2019.4.13
Pillow==6.0.0
post==2019.4.13
public==2019.4.13
pytz==2019.1
query-string==2019.4.13
request==2019.4.13
sqlparse==0.3.0
urllib3==1.24.2
mysqlclient
django-simple-history
django-reversion
django-extensions
openpyxl==3.0.0
django-mathfilters
