{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'base.css'%}">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'js/jquery-3.1.1.min.js' %}">
    <title>Agregar nueva región</title>
    {% include "base.html" %}
    <div class="container">
        <div class="form-group">
          <label for="Nameofdistrict">Nombre de la región</label>
            <input type="text" id="name" class="form-control" placeholder="Nombre">
          <label for="Acronycofdistrict">Acrónimo</label>
            <input type="text" id="acronym" class="form-control" placeholder="Maximo 5 letras">
        </div>
        <button type="button" id="info_region" class="btn btn-primary"> ENVIAR</button>
    </div>
</head>
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
<script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- Custom and plugin javascript -->
<script src="{% static 'js/inspinia.js' %}"></script>
<script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
<script src="{% static 'js/plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $("#info_region").on('click', function () {
            $.ajax({
                url: '{% url "add_region" %}',
                type: 'POST',
                data: {
                    'name': $("#name").val(),
                    'acronym': $("#acronym").val(),
                    'csrfmiddlewaretoken': '{{ csrf_token}}'
                },
                success: function (data) {
                    if (data.result){
                        alert('Paso')
                        window.location.href = "{% url 'list_region' %}"
                    }else if(data.result  == 'Max'){
                      swal({
                        title: 'Oops...',
                        text: 'El acrónimo supero el largo máximo',
                        type: 'error',
                      })
                    }
                    else {
                        alert('No paso')
                        swal({
                            title: 'Problemas',
                            text: 'La región ya existe',
                            type: 'error'
                        })
                    }
                },
                error: function () {
                    alert('error')
                }
            });
        })
    });
</script>
</html>
