{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Propiedades {% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
              integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    </head>
    <title>Región</title>
    <body>
            <div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" value="True" id="defaultInline1" name="inlineDefaultRadiosExample">
                        <label class="custom-control-label" for="defaultInline1">Deseo Eliminar La región</label>
                    </div>
                  
                    <!-- Default inline 2-->
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" value="False" id="defaultInline1" name="inlineDefaultRadiosExample">
                        <label class="custom-control-label" for="defaultInline2">No deseo eliminar la región</label>
                    </div>
                    <div>
                            <button type="button" id="confirm_region" class="btn btn-primary"> Confirmar</button>
                    </div>
                    
                </div>
    </body>
    

    <!-- Default inline 1-->
    

<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
<script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- Custom and plugin javascript -->
<script src="{% static 'js/inspinia.js' %}"></script>
<script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
<script src="{% static 'js/plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $("#confirm_region").on('click', function () {
            $.ajax({
                url: '{% url "delete_region" info.pk %}',
                type: 'POST',
                data: {
                    'valor': $("input:radio[name ='inlineDefaultRadiosExample']:checked").val(),
                    
                    'csrfmiddlewaretoken': '{{ csrf_token}}'
                },
                success: function (data) {
                    if (data.result){
                        window.location.href = "{% url 'list_region' %}"
                    }
                    else{
                        swal({
                            type: 'error',
                            text: 'La Región no se eliminó',
                        }).then(function(){
                            window.location = "{% url 'list_region' %}"
                        });
                    }
                },
                error: function () {
                    swal({
                            type: 'error',
                            text: 'La Región no se eliminó, debido a que se encuentra relacionado con alguna propiedad',
                        }).then(function(){
                            window.location = "{% url 'list_region' %}"
                        });
                }
            });
        })
    });
</script>
</html>