{% load static %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} Home {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'base.css'%}">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    {% block stylesheet %}{% endblock stylesheet %}
</head>
<header>
    {% include "base.html" %}
</header>

<body>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col sm-12 md-3 lg-3">
                <div class="card bg-light text-center" style="margin-top: 3%;">
                    <div class="card-header"><strong>Total Propiedades: {{ total }}</strong></div>
                    <div class="card-body">
                        <h5 class="card-title">Propiedades adquiridas: <strong>{{total_acquisition.count}}</strong></h5>
                        <h5 class="card-title">Propiedades rentadas: <strong>{{total_rent.count}}</strong></h5>
                    </div>
                </div>
            </div>

            <div class="col sm-6 md-3 lg-3">
                <div class="card bg-light text-center" style="margin-top: 3%;">
                    <div class="card-header"><strong>Propiedades adquiridas</strong></div>
                    <div class="card-body">
                        <h5 class="card-title">Habilitadas: <strong>{{ acquisition_a.count }}</strong></h5>
                        <h5 class="card-title">No habilitadas: <strong>{{ acquisition_d.count }}</strong></h5>
                    </div>
                </div>
            </div>

            <div class="col sm-6 md-3 lg-3">
                <div class="card bg-light text-center" style="margin-top: 3%;">
                    <div class="card-header"><strong>Propiedades rentadas</strong></div>
                    <div class="card-body">
                        <h5 class="card-title">Habilitadas: <strong>{{ rent_a.count }}</strong></h5>
                        <h5 class="card-title">No habilitadas: <strong>{{ rent_d.count }}</strong></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col sm-12 md-6 lg-6">
                <div class="card border-dark mb-3" style="margin-top: 3%;max-width: 450px;">
                    <div class="card-header">Gráfico de porcentaje de completado de las propiedades</div>
                    <div class="card-body text-dark">
                        <canvas id="myChart" class="justify-content-center" width="400" height="400"
                            style="max-width: 400px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Mainly scripts -->
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
<script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'js/plugins/toastr/toastr.min.js' %}"></script>

<!-- Flot -->
<script src="{% static 'js/plugins/flot/jquery.flot.js' %}"></script>
<script src="{% static 'js/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'js/plugins/flot/jquery.flot.spline.js' %}"></script>
<script src="{% static 'js/plugins/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'js/plugins/flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'js/plugins/flot/jquery.flot.symbol.js' %}"></script>
<script src="{% static 'js/plugins/flot/jquery.flot.time.js' %}"></script>

<!-- Peity -->
<script src="{% static 'js/plugins/peity/jquery.peity.min.js' %}"></script>
<!-- <script src="{% static 'js/demo/peity-demo.js' %}"></script> -->

<!-- Custom and plugin javascript -->
<script src="{% static 'js/inspinia.js' %}"></script>
<script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>

<!-- jQuery UI -->
<script src="{% static 'js/plugins/jquery-ui/jquery-ui.min.js' %}"></script>

<!-- Jvectormap -->
<script src="{% static 'js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
<script src="{% static 'js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>

<!-- EayPIE -->
<script src="{% static 'js/plugins/easypiechart/jquery.easypiechart.js' %}"></script>

<!-- SweetAlert -->
<script src="{% static 'js/plugins/sweetalert/sweetalert.min.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['0% a 24%', '25% a 49%', '50% a 74%', '75% a 100%'],
            datasets: [{
                data: ['{{property_per_25 }}', '{{ property_per_50 }}', '{{ property_per_75 }}', '{{ property_per_100 }}',],
                backgroundColor: [
                    'rgba(255,67,67)',
                    'rgba(255,249,67)',
                    'rgba(87,255,67)',
                    'rgba(67,90,255)',
                ],
                hoverBackgroundColor: [
                    'Red',
                    'Yellow',
                    'Green',
                    'Blue',
                ],
                borderWidth: 1
            }]
        },
    });
</script>
{% block javascript %}

{% endblock javascript %}

</html>