{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Propiedades {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

</head>
{% include "base.html" %}
{% block content %}
    <body>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-10">
                <h1>Listado Propiedades adquiridas</h1>
            </div>
        </div>
        {% if alerta %}
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
                <strong>USTED NO TIENE LOS PRIVILEGIOS PARA AGREGAR UNA PROPIEDAD</strong>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-8">
                <form class="form mb-auto" method="GET" action="{% url 'search' %}">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" style="display:none" name="selection" type="radio" value="2"
                               id="defaultCheck2" checked>
                        <label class="form-check-label" for="defaultCheck2">
                        </label>
                    </div>
                    <input type="text" class="form-control ml-sm-2" name="q" value="{{ request.GET.q }}"
                           placeholder="Hola! ¿Buscas algo?..">
                </form>
            </div>
            <div class="col-md-2 col-sm-12">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-success" style="margin-top:15%;" data-toggle="modal"
                    data-target="#generar_reporte">
                    Generar reporte
                </button>
            
                <!-- Modal -->
                <div class="modal fade" id="generar_reporte" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Generación de reporte</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="POST">
                                    <h6>Seleccione una opción para filtrar: </h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios"
                                            id="filter_comuna" value="comuna_true">
                                        <label class="form-check-label" for="filter_comuna">
                                            Comuna
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios"
                                            id="filter_ciudad" value="ciudad_true">
                                        <label class="form-check-label" for="filter_ciudad">
                                            Ciudad
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios"
                                            id="filter_tipo" value="tipo_true">
                                        <label class="form-check-label" for="filter_tipo">
                                            Tipo escritura
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios"
                                            id="filter_uso" value="uso_true">
                                        <label class="form-check-label" for="filter_uso">
                                            Uso de propiedad
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="filter_text">
                                            <h6>Filtrar por:</h6>
                                        </label>
                                        <input type="text" class="form-control" id="filter_text"
                                            placeholder="Escriba aquí">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                                <button type="button" class="btn btn-primary" id='enviar_reporte'>Generar
                                    reporte</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if staff.type_user == 'DIG' or staff.type_user == 'ADM' %}
                <div class="col-md-2">
                    <a class="float-right" href="{% url 'add_acquisition' %}" style="margin-top: 15%;">
                        <button type="button" class="btn btn-success">Agregar</button>
                    </a>
                </div>
            {% endif%}
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped" id="datos">
                    <thead>
                    <tr>
                        <th scope="col" style="width:5px">N° de rol</th>
                        <th scope="col" style="width:15px">Nombre</th>
                        <th scope="col" style="width:15px">Dirección</th>
                        <th scope="col" style="width:15px">Uso propiedad</th>
                        <th scope="col" style="width:40px"></th>
                        <th scope="col" style="width:15px"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cli in object_list %}
                        <tr>
                            <td style="width:5px">{{ cli.role_number }}</td>
                            <td style="width:15px">{{ cli.name }}</td>
                            <td style="width:15px">{{ cli.location.street }} {{ cli.location.number}}, {{ cli.location.commune }}</td>
                            <td style="width:15px">{{ cli.property_use.name }}</td>
                            <td style="width:40px">
                              <h1>{{cli.stats_acquisition.complete|div:cli.stats_acquisition.total|mul:100|floatformat:"0"}}%</h1>
                              {% if cli.stats_acquisition.complete|div:cli.stats_acquisition.total|mul:100 >= 0.0 and cli.stats_acquisition.complete|div:cli.stats_acquisition.total|mul:100 < 25.0 %}
                              <div class="progress">
                                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{cli.stats_acquisition.complete|div:cli.stats_acquisition.total|mul:100}}%"></div>
                              </div>
                              {% elif cli.stats_acquisition.complete|div:cli.stats_acquisition.total|mul:100 >= 25.0 and cli.stats_acquisition.complete|div:cli.stats_acquisition.total|mul:100 < 50.0 %}
                              <div class="progress">
                                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{cli.stats_acquisition.complete|div:cli.stats_acquisition.total|mul:100}}%"></div>
                              </div>
                              {% elif cli.stats_acquisition.complete|div:cli.stats_acquisition.total|mul:100 >= 50.0 and cli.stats_acquisition.complete|div:cli.stats_acquisition.total|mul:100 < 75.0 %}
                              <div class="progress">
                                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{cli.stats_acquisition.complete|div:cli.stats_acquisition.total|mul:100}}%"></div>
                              </div>
                              {% elif cli.stats_acquisition.complete|div:cli.stats_acquisition.total|mul:100 >= 75.0 and cli.stats_acquisition.complete|div:cli.stats_acquisition.total|mul:100 <= 100.0 %}
                              <div class="progress">
                                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{cli.stats_acquisition.complete|div:cli.stats_acquisition.total|mul:100}}%"></div>
                              </div>
                              {% endif %}
                            </td>
                            <td style="width:15px">
                                <a href="{% url 'view_acquisition' cli.pk %}">
                                    <button type="button" class="btn btn-primary">Visualizar</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <div class="row">
                    {% if object_list.has_next or object_list.has_previous %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if object_list.has_previous %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ object_list.previous_page_number }}">Previous</a>
                                    </li>
                                {% endif %}

                                {% for page in object_list.paginator.page_range %}
                                    <li class="page-item {% if object_list.number == page %}active{% endif %}"><a
                                            class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                {% endfor %}

                                {% if object_list.has_next %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ object_list.next_page_number }}">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock content %}
</html>
<script src="{% static 'js/plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script>
$(document).ready(function () {
        $('#enviar_reporte').on('click', function () {
            alert($("input:radio[name ='exampleRadios']:checked").val())
            $.ajax({
                url: '{% url "generate_report" %}',
                type: 'POST',
                data: {
                    'filtro': $("input:radio[name ='exampleRadios']:checked").val(),
                    'texto': $('#filter_text').val(),
                    'csrfmiddlewaretoken': '{{ csrf_token}}'
                },
                success: function (data) {
                    if (data.url) {
                        alert('Paso')
                        window.location.href = data.url
                    } else if (data.result == 'False') {
                        swal({
                            title: 'Oops...',
                            text: 'No se pudo filtar',
                            type: 'error',
                        })
                    }
                },
                error: function () {
                    alert('error')
                }
            });
        })
    });
    </script>