{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Propiedades {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

</head>
{% include "base.html" %}
{% block content %}
    <body>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-10">
                <h1>Listado Propiedades</h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-10">
                <form class="form-inline mb-auto" method="GET" action="{% url 'search' %}">
                    <div class="form-check form-check-inline">
                            <input class="form-check-input" name="selection" type="radio" value="1" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Todas
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="selection" type="radio" value="2" id="defaultCheck2">
                            <label class="form-check-label" for="defaultCheck2">
                                Acquisición
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="selection" type="radio" value="3" id="defaultCheck3">
                            <label class="form-check-label" for="defaultCheck3">
                                Renta
                            </label>
                        </div>
                    <input type="text" class="form-control ml-sm-2" name="q" value="{{ request.GET.q }}"
                           placeholder="Hola! ¿Buscas algo?..">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
                <div class="dropdown float-right">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Agregar
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'add_acquisition' %}">Adquirida</a>
                        <a class="dropdown-item" href="{% url 'add_rent' %}">Arrendada</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped" id="datos">
                    <thead>
                    <tr>
                        <th scope="col">N° de rol</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Uso propiedad</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cli in object_list_acquisition %}
                        <tr>
                            <td>{{ cli.role_number }}</td>
                            <td>{{ cli.name }}</td>
                            <td>{{ cli.location }}</td>
                            <td>{{ cli.property_use }}</td>
                            <td>
                                <a href="{% url 'view_acquisition' cli.pk %}">
                                    <button type="button" class="btn btn-primary">Visualizar</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% for clik in object_list_rent %}
                        <tr>
                            <td>{{ clik.role_number }}</td>
                            <td>{{ clik.name }}</td>
                            <td>{{ clik.location }}</td>
                            <td>{{ clik.property_use }}</td>
                            <td>
                                <a href="{% url 'view_rent' clik.pk %}">
                                    <button type="button" class="btn btn-primary">Visualizar</button>
                                </a>
                            </td>
                        </td>
                        </tr>
                    {% endfor %}
            </tbody>
            </table>
            <div class="row">
                {% if object_list_acquisition.has_next or object_list_acquisition.has_previous %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if object_list_acquisition.has_previous %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ object_list_acquisition.previous_page_number }}">Previous</a>
                                </li>
                            {% endif %}

                            {% for page in object_list_acquisition.paginator.page_range %}
                                <li class="page-item {% if object_list_acquisition.number == page %}active{% endif %}">
                                    <a
                                            class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                            {% endfor %}

                            {% if object_list_acquisition.has_next %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ object_list_acquisition.next_page_number }}">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
    </body>
{% endblock content %}
</html>